@font-face {
    font-family: DOTMATRI;
    src: url('/DOTMATRI.TTF');
}

#canticles-table {

}

body {
    /* background-color: #1a1a1a; */
}

    /* background-color: #1a1a1a;
    color: #ffe600;
    font-family: 'DOTMATRI', monospace;
    letter-spacing: 3px;
    font-size: 52px; */